/* Reset */
* { box-sizing: border-box; }
ul { margin: 0; padding: 0; }
li { margin-bottom: 0; }
a { color: inherit; }
img { margin: 0; padding: 0; }
html { scroll-behavior: smooth; }

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  color: #484848;
  width: 100%;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  padding: 0;
  margin: 0;
}
p, a ,label, span, footer, tr, li, input, button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;  
}

/* Globals */
.page {
  padding: 0px 100px;
}

/* Bottom Lines */
.bottom-line {
  position: fixed;
  float: left;
}
.bottom-line ul {
  list-style: none;
  margin: 0;
}
.bottom-line.left {
  bottom: 0px;
  left: 40px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-line.left::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: red;
}
.bottom-line.left li {
  padding: 5px 0px;
}
.bottom-line li:last-of-type {
  padding-bottom: 10px;
}
.bottom-line.left img {
  width: 20px;
}
.bottom-line.right {
  bottom: 0;
  right: 40px;
}
.bottom-line.right p {
  writing-mode: vertical-rl;
}
.bottom-line.right::after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  margin: 0px auto;
  background-color: red;
}


/* Navigation */
header {
  width: 100%;
  padding: 0;
  background: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(5px) ;
}
header .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px 40px;
}
header .row .cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
header .row .left {
  width: 20%;
}
header .row .right {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
header .logo {
  font-weight: 600;
}
header .main-menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}
header li {
  margin-right: 20px;
}
header a {
  text-decoration: none;
}
header p {
  padding: 0;
}
header .button {
  padding: 4px 8px;
  border-radius: 4px;
  border: 2px solid #484848;
}
.hamburger,
.mobile-menu {
  display: none;
}


/* Homepage -> Hero */
.hero {
  width: 100%;
  position: relative;
  padding: 180px 0px 180px 0px;
}
.hero .row {
  display: flex;
  flex-direction: column;
}
.hero h1 {
  font-size: 8vw;
}
.hero h1 span {
  color: red;
}
.hero p {
  margin: 60px 0px 40px 0px;
  font-size: 1.2rem;
  line-height: 1.2;
  max-width: 500px;
}
.hero a.button {
  padding: 6px 12px;
  border: 2px solid #484848;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s;
}
.hero a.button:hover {
  background: #eaeaea;
  letter-spacing: 0.5px;
}

/* About */
.about {
  width: 100%;
  padding: 100px 0px;
  margin-bottom: 100px;
}
.about .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about .cell {
  display: flex;
  flex-direction: column;
}
.about .cell.left {
  width: 60vw;
  padding-right: 40px;
}
.about .cell.right {
  width: 40vw;
}
.about h2.title::after {
  content: "";
  display: block;
  width: 40vw;
  height: 1px;
  position: relative;
  top: -15px;
  margin-left: 200px;
  background-color: red;
}
.about .wrapper {
  position: relative;
  border-radius: 6px;
  transition: all 0.3s;
}
.about .wrapper::before {
  content: '';
  border: 4px solid red;
  mix-blend-mode: multiply;
  border-radius: 6px;
  top: 10px;
  bottom: -10px;
  right: -20px;
  left: 10px;
  position: absolute;
  transition: all 0.3s;
}
.about .wrapper:hover::before {
  border: 8px solid red;
  mix-blend-mode: normal;
  top: 0px;
  bottom: 6px;
  right: 0px;
  left: 0px;
}
.about .wrapper::after{
  content: '';
  background:rgba(255, 0, 0, 1);
  mix-blend-mode: multiply;
  top: 0;
  bottom: 6px;
  right: 0;
  left: 0;
  position: absolute;
  backdrop-filter: blur(5px);
  border-radius: 6px;
  transition: all 0.3s;
}
.about img {
  border-radius: 6px;
}
.about .wrapper:hover::after {
  backdrop-filter: blur(0px);
  background: rgba(255, 0, 0, 0);
}
.about table {
  margin-bottom: 0px;
}
.about tr {
  margin: 10px 0px;
}
.about td {
  border: 0;
  padding:15px 10px 0px 0px;
  font-size: 15px;
  position: relative;
}
.about td::before {
  display: block;
  content: url('data:image/svg+xml;charset=UTF-8, <svg fill="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.185 4.843l11.927 7.157-11.927 7.157 2.982-7.157-2.982-7.157zm-4.185-4.843l5 12-5 12 20-12-20-12z"/></svg>');
  height: 15px;
  width: 15px;
  position: absolute;
  margin: 0;
}
.about td p {
  padding-left: 30px;
}

/* Recent Projects */
.recent-projects {
  padding-bottom: 100px;
}
.recent-projects .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.recent-projects h2.title {
  width: 100%;
}
.recent-projects h2.title::after {
  content: "";
  display: block;
  width: 35vw;
  height: 1px;
  position: relative;
  top: -15px;
  margin-left: 280px;
  background-color: red;
}
.recent-projects .cell {
  width: calc(50% - 20px);
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 10px;
  border-radius: 15px;
}
.recent-projects .main-image {
  height: 300px;
  width: 100%;
}
.recent-projects p {
  padding: 10px 14px 10px 0px;
  border-radius: 6px;
  margin-bottom: 40px;
}
.recent-projects ul { 
  list-style: none;
  display: flex;
  flex-direction: row;
}
.recent-projects li {
  display: flex;
  flex-wrap: wrap;
  margin-right: 8px;
  font-size: 14px;
}
.recent-projects li::before {
  content: '#';
  opacity: 0.4;
}
.recent-projects .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 60px;
  transition: all 0.3s;
}
.recent-projects .button a {
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-left: 15px;
}
.recent-projects .button a:hover {
  margin-bottom: 10px;
}
.recent-projects svg {
  fill: #484848 !important;
}

/* Contact */
.contact {
  padding: 100px 0px;
}
.contact .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .row h2 {
  font-size: 2rem;
  line-height: 1.2;
}
.contact .row p {
  margin: 20px 0px 40px 0px;
  font-size: 1.2rem;
  line-height: 1.2;
  max-width: 500px;
}
.contact .row button {
  border: 2px solid #484848;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  background: transparent;
}
.contact-form {
  width: 100%;
}
.contact-form .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.contact-form .cell {
  width: 50%;
}
.contact-form .cell:first-of-type {
  width: 50%;
  padding-right: 50px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #484848;
  border-left: 0;
  margin: 0px 0px 15px 0px;
}
textarea {
  min-width: 100%;
}



/* ||MQ|| X-Large */
@media only screen and (min-width: 1400px ) {
  .recent-projects .cell {
    width: calc(33% - 20px);
  }
}
/* ||MQ|| Small */
@media only screen and (max-width: 768px ) {
  .main-menu {
    display: none;
  }
  .resume-desktop {
    display: none;
  }
  .hamburger {
    display: block;
  }
  #burger-container {
    z-index: 999;
  }
  .mobile-menu {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 80vw;
    height: 100vh;
    background: #222222;
    top: 0;
    right: -100%;
    bottom: 0;

  }
  .mobile-menu h2 {
    color: #fff;
  }
  .mobile-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #fff;
    margin-top: 80px;
  }
  .mobile-menu li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 40px 0px;
  }
  .mobile-menu li a {
    font-size: 1.8rem;
    line-height: 2;
    color: #fff;
  }
  .mobile-menu .button {
    color: #fff;
    font-size: 1.3rem;
    margin-top: 40px;
    padding: 6px 15px;
  }
  .page {
    padding: 0px 40px;
  }
  .hero {
    padding: 160px 0px;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .cell.left {
    width: 100%;
    justify-content: center;
    padding-right: 0;
  }
  .about h2.title::after {
    width: 60vw;
  }
  .about .cell.right {
    padding-left: 15%;
    display: flex;
    justify-content: center;
  }
  .about table {
    margin-top: 40px;
  }
  .about .wrapper {
    width: 300px;
    margin: 80px auto 80px auto;
  }
  .bottom-line {
    display: none !important;
  }
  .recent-projects .cell {
    width: calc(100% - 20px);
    margin-bottom: 60px;
  }
}
